extends layout

block content

    h1= title
    div.row.justify-content-center
        div.col-xs-1
        each label in data
            div.col-xs-2
                p= label.name
                p= label.count
        div.col-xs-1

