body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #4b5358;
  color: #ddd8b8;

}

a {
  color: #E50462;
}

div {
  background-color: #E50462;
}

h1 {
  color: #473144;
}